body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	color: #4d5c66;
}

.wrapper {
	width: 100%;
	max-width: 769px;
	margin: 0 auto;
	position: relative;
}

.header {
	background-image: url("../img/banner.png");
	background-size: cover;
	padding-top: 15px;
	padding-bottom: 318px;	
}

.items-top {
	max-width: 1185px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 80px;
	color: #fff;
	margin-top: 262px;
	font-weight: 300;
}

h1 span {
	font-style: italic;
}